{% extends 'BasicBundle:Default:base.html.twig'%}
{% block body %}
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{asset('bundles/app/img/intro.jpg')}}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Aprendre</span>
              <span class="section-heading-lower">Val la pena</span>
            </h2>
            <p class="mb-3">L’Escola Oficial d’Idiomes de Tortosa es va inaugurar el setembre de 2002 per iniciativa del Departament d’Ensenyament de la Generalitat de Catalunya. És un centre públic, no universitari, d’ensenyament d’idiomes modern que imparteix els ensenyaments especialitzats regulats per la Llei orgànica d’educació (LOE)
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="#">Visita'ns avui!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">El certificat</span>
                <span class="section-heading-lower">Que busques</span>
              </h2>
              <p class="mb-0">Les escoles oficials d’idiomes també gestionen les certificacions acadèmiques corresponents a aquests ensenyaments especialitzats. Aquestes certificacions són reconegudes arreu de l’Estat espanyol, són les úniques oficials, estan validades pel Consell d’Europa per mitjà del Marc Europeu de Referència i es poden obtenir tant en convocatòria oficial, com en convocatòria lliure.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}