{% extends 'BasicBundle:Default:base.html.twig'%}
{% block body %}
    <section class="page-section cta about-heading">
      <div class="container">
        <div class="container marketing">
            <img class=" offset-md-3 img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{asset('bundles/app/img/products-03.jpg')}}" alt="">
        <div class="row about-heading-content">
          <div class="col-md-3 bg-faded">
            <h2 class="m-2">Donec</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Mauris »</a></p>
          </div>
          <div class="col-md-3 bg-faded">
            <h2 class="m-2">Viverra</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Mauris »</a></p>
          </div>
          <div class="col-md-3 bg-faded">
            <h2 class="m-2">Vivamus</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Mauris »</a></p>
          </div>
        </div>
            
      </div>
        </div>
      </div>
    </section>

{% endblock %}