{% extends 'BasicBundle:Default:base.html.twig'%}
{% block body %}
    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">In tempus at diam quis pulvinar</span>
                <span class="section-heading-lower">Morbi interdum felis</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{asset('bundles/app/img/products-01.jpg')}}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Aenean vitae quam vel nisl hendrerit convallis. Praesent dolor diam, dignissim in nunc a, elementum interdum mi. Suspendisse quis porttitor est. Suspendisse id ultrices orci. Etiam varius quam eget tellus porttitor, nec sollicitudin mi tincidunt.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex mr-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Praesent lacus ex, porta id sodales</span>
                <span class="section-heading-lower">Cras lobortis elit</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{asset('bundles/app/img/products-02.jpg')}}" alt="">
          <div class="product-item-description d-flex ml-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Nullam lobortis tempus tellus et fermentum. Sed vestibulum ex vel risus elementum sodales. Nulla ut dolor nec nibh rutrum eleifend. Donec tempor velit felis, quis tempus dui euismod a. Etiam quis odio imperdiet, sagittis libero quis, lacinia purus.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="product-item">
          <div class="product-item-title d-flex">
            <div class="bg-faded p-5 d-flex ml-auto rounded">
              <h2 class="section-heading mb-0">
                <span class="section-heading-upper">Curabitur sed massa</span>
                <span class="section-heading-lower">Quisque eu lacus leo</span>
              </h2>
            </div>
          </div>
          <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{asset('bundles/app/img/products-03.jpg')}}" alt="">
          <div class="product-item-description d-flex mr-auto">
            <div class="bg-faded p-5 rounded">
              <p class="mb-0">Proin eget eros eget sapien fringilla luctus. Aenean imperdiet ipsum nec neque venenatis, in hendrerit ligula consequat. Aliquam in facilisis purus. In suscipit augue nibh, quis malesuada augue varius eget.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}