{% extends 'BasicBundle:Default:base.html.twig'%}
{% block body %}
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Ut lacus purus</span>
                <span class="section-heading-lower">Congue ut tristique</span>
              </h2>
              <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                <li class="list-unstyled-item list-hours-item d-flex">
                  Diumenge
                  <span class="ml-auto">Tancat</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Dilluns
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Dimarts
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Dimecres
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Dijous
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Divendres
                  <span class="ml-auto">7:00 AM to 8:00 PM</span>
                </li>
                <li class="list-unstyled-item list-hours-item d-flex">
                  Dissabte
                  <span class="ml-auto">9:00 AM to 5:00 PM</span>
                </li>
              </ul>
              <p class="address mb-5">
                <em>
                  <strong>1116 Duis vestibulum</strong>
                  <br>
                  Praesent sodales sagittis
                </em>
              </p>
              <p class="mb-0">
                <small>
                  <em>Suspendisse potenti</em>
                </small>
                <br>
                (317) 585-8468
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{asset('bundles/app/img/about.jpg')}}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Ut eleifend tortor</span>
                  <span class="section-heading-lower">Praesent ac dui</span>
                </h2>
                <p>Praesent ac dui aliquet, efficitur nunc ut, vulputate nisi. Nulla nec turpis ex. Ut eleifend tortor eget feugiat posuere.</p>
                <p class="mb-0">Duis vestibulum nunc ut urna mollis, sit amet varius orci venenatis. Etiam ultricies, odio eget scelerisque imperdiet, dui ante varius lorem, ac vestibulum nibh urna quis sem. Suspendisse potenti. Sed et arcu lacus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
{% block jquery %}
   <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>
{% endblock %}